@import "../../assets/scss/commons.scss";

.search-box {
  /* search-box */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  // width: 328px;
  width: 100%;
  height: 48px;
  background: #eeb398; // color...
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  .search-icon {
    /* search-icon */
    width: 24px;
    height: 24px;
    /* Inside auto layout */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .search-input{
    flex-grow: 1;
    height: 60%;
    background-color: rgba($color: #000000, $alpha: 0.0);
    border: none;
    font-size: 18px;
  }
  .search-input:active, .search-input:focus{
    outline: none;
  }
}
