@import "../../assets/scss/commons.scss";

.search-box {
  /* search-box */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 24px;

  width: 328px;
  height: 48px;

  background: #eeb398; // color...
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  .search-icon {
    /* search-icon */
    width: 48px;
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
