@import "../../assets/scss/commons.scss";

.main-container {
  /* main-container */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  width: 100vw;
  height: 100%;
  background: #fdfdfd; // white

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  border-top: 1px solid #dedede; // color...
  border-bottom: 1px solid #dedede; // color...

}
